html, body{
    margin: 0;
    background: black;
    max-width: 100% !important;
    overflow-x: hidden;
}
body{
    display: table;
    text-align: center;
}
.bg-dark{
    background-color: rgba(0,0,0,0) !important;
    position: fixed;
    width: 100vw;
    z-index: 2;
    font-family: Cabin;
    text-transform: uppercase;
}
.square-card{
    border: 1px solid #03c2fc;
    /*margin-left: 16vw;*/
    margin-top: 10vw;
    width: 35vw;
    border-radius: 10px;
    padding: 2.0833vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 20vw;
}
.square-card h1{
    padding-top: 5vw;
    color:  #03c2fc;
    float: left;
    height: 100%;
    max-width: 45%;
    text-transform: uppercase;
    font-family: "Cabin";
    font-weight: bold;
    font-size: 3.1vw;
}
.evolution{
    margin-left: 50vw;
    transform: translate(-50%);
    text-align: center;
    padding: 3.5vw !important;
    height: 10vw !important;
    margin-top: 5vw;
}
.evolution h1{
    padding-top: 0 !important;
    height: 100%;
    line-height: 100%;
    width: 100%;
    max-width: 100% !important;
}
.evolution-card{
    border: 1px solid #03c2fc;
    /*margin-left: 16vw;*/
    margin-top: 5vw;
    width: 20vw;
    border-radius: 10px;
    padding: .833vw;
    /*padding-top: 1vw;*/
    /*padding-bottom: 1vw;*/
    height: 20vw;
    display: inline-block;
    margin-right: 3%;
}
.evolution-card h1{
    padding-top: 1vw;
    text-align: center;
    color:  #03c2fc;
    height: 100%;
    text-transform: uppercase;
    font-family: "Cabin";
    font-weight: bold;
    font-size: 3.1vw;
}
.evolution-container{
    padding-left: 5%;
    padding-right: 5%;
}
.ev-card-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.side{
	height: 100vh;
	width: 0;
	background-color: rgba(0,0,0,0.8);
	visibility: hidden;
	transition: 0.3s ease-in-out;
	position: absolute;
	left: -25vw;
	top: 0;
	padding-top: 100px;
}
.sidepopup{
	padding-top: 100px;
	width: 25vw;
	box-sizing: border-box;
	visibility: visible;
	transition: 0.3s ease-in-out;
	left: 0;
}

.sidenav{
	width: 100vw;
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 10px;
	display: block;
	text-align: center;
}
html, body{
	margin: 0;
}
.fa-bars{
	padding: 5px 8px;
	border: 2px solid black;
	float: left;
	color: white;
}
.fa:hover{
	cursor: pointer;
}
.fa-times{
	position: absolute;
	top: 15px;
	right: 15px;
	color: rgba(235, 64, 52, 1);
}
.item{
	z-index: 10;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	font-size: 30px;
	list-style: none;
}
.item a{
	color: white;
	font-family: "Open Sans";
	text-decoration: none;
	letter-spacing: 0em;
}
.brand{
	color: #03c2fc;
	font-family: "Open Sans";
	text-decoration: none;
	letter-spacing: -1;
	font-weight: bold;
	font-size: 75px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .side{
		font-size: 8vw !important;
	    align-items: center;
	    padding-top: 0 !important;
	}
	.fa-times{
		font-size: 5.6vw !important;
	}
	.sidepopup{
		padding-top: 70px !important;
		width: 100vw !important;
		padding-left: 9vh !important;
		padding-right: 9vh !important;
		/*padding-top: 60px !important;*/
		font-size: 8vw !important;
	}
	.sidepopup .item, .side .item{
		font-size: 8vw !important;
	}
	.brand{
	        font-size: 25px !important;
	}
	.item a{
	        font-size: 20px !important;
	}
}